@page
@model ChatModel

<link rel="stylesheet" href="~/css/chat.css" />

<div class="chat-container">
    <div class="chat-inner-container row">
        <div class="chat-column col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div>
                You are logged in as <div class="username">@Model.ChatUser.Username</div>
                @Html.HiddenFor(x => x.ChatUser.Username)
            </div>
            <div class="messages col-6">
                <ul id="messagesList"></ul>
            </div>
            <div class="input-container">
                <input type="text" id="messageInput" placeholder="Enter your message..." />
                <button type="submit" id="sendButton">
                    <i class="glyphicon glyphicon-send"></i>
                </button>
            </div>
        </div>
        <div class="users-container col-lg-2 col-md-2 col-sm-3 col-xs-2">
            <div>Users:</div>
            <ul id="userList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
@*<script src="~/js/es5-chat.js"></script>*@