@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="login-page">
    <h2>@ViewData["Title"]</h2>
    <p>@Model.Message</p>

    <form id="loginForm" method="POST">
        <input asp-for="ChatUser.Username" required />
        <input type="submit" value="Enter Chat" />
    </form>
    <div class="validation-msg" asp-validation-summary="All"></div>
</div>

<div class="login-bg-icon"><i class="glyphicon glyphicon-send"></i></div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation//dist/jquery.validate.js"></script>
<script>
    $("loginForm").validate()
</script>